.formulario {
  border: 1px solid gray;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3rem;
  width: 50%;
  border-radius: 10px;
}

.formulario-label {
  font-size: .9rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .formulario {
    padding: 1rem;
    width: 90%;
  }
}